fastapi
uvicorn
langchain
langchain-community
langgraph
transformers
torch
pandas
python-dotenv
starlette
chromadb
beautifulsoup4
requests
python-multipart
pypdf
cloudscraper
wikirate4py
name_matching
langdetect
PyPDF2
unstructured
selenium
langchain-google-genai
rapidocr
onnxruntime
wordninja
pyspellchecker
Pillow